* {
    font-family: "Puritan", sans-serif;
  }
  ul {
    position: absolute;
    width: 20%;
    height: 100%;
    background: rgba(64, 94, 170, 0.49);
  }
  label.logo {
    font-family: "Puritan";
    font-style: normal;
    position: absolute;
    width: 20%;
    height: 30%;
    top: 15%;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #405eaa;
  }
  label:hover{
    color: #000000;
  }
  
  a,
  #cadastro,
  #moradores,
  #logs {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 40%;
    font-family: "Puritan";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
  
  a,
  #logs {
    width: 100%;
    top: 50%;
  }
  
  a,
  #moradores {
    width: 100%;
    top: 60%;
  }
  
  #historico {
    width: 100%;
    top: 70%
  }
  /* Change the link color on hover */
  a:hover {
    background-color: #405eaa;
  }
  
  /* body */
  
  main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  .container {
    margin-left: 25%;
    max-width: 923px;
    max-height: 761px;
    width: 100%;
    height: 100%;
    background: rgba(64, 94, 170, 0.24);
    border-radius: 20px;
    padding: 25px 30px;
    position: relative;
  }
  
  .container .title {
    position: relative;
    width: 355px;
    height: 100px;
    left: 400px;
  
    font-family: "Puritan";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #405eaa;
  }
  
  .container .title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
  }
  
  /* 
      Tabela
    */
  
  table {
    /** Faz o estilo da tabela inteira. **/
    background: rgba(64, 94, 170, 0.49);
    border-radius: 20px; /** Define a borda pontilhada. **/
    width: 100%;
    table-layout: auto;
    font-size: 28px;
  }
  thead {
    /** Faz o estilo do cabecalho da tabela**/
    font-size: 40px;
    border-radius: 20px;
  }
  tr {
    /** Faz o estilo para as linhas. **/
    text-align: center; /** Centraliza o conteúdo. **/
  }
  td {
    color: black;
  }

/* botoes */
 .divbotoes {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 20px;
 }

 #excluir, #nvcadastro, #editar {
    width: 260px;
    height: 44px;
    border-radius: 20px;
 }

 #excluir {
    background: #BE6043;
 }
 #editar{
    background: rgba(206, 201, 82, 0.78);
 }
 #nvcadastro{
    background: rgba(5, 163, 21, 0.57);
 }
  /* Filtros */
  .divfiltro {
    padding-top: 20px;
    position: relative;
    text-align: center;
}

  #filtro {
    background: rgba(64, 94, 170, 0.49);
    border-radius: 20px;
    display: inline-block;
    position: relative;
    width: 260;
    height: 44;
}
